.container {
  font-family: "Merriweather", serif;

  color: white;
  border: 1px solid white;
  max-width: 30rem;

  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px;

  &:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
  }
}

.links {
  display: flex;
  gap: 1rem;

  a:empty {
    display: none;
  }
}
