.container {
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: #d28484;

  font-family: "Merriweather", serif;

  padding-bottom: 1rem;

  background-image: url(/assets/hero-small.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  // Medium Devices
  @media (min-width: 768px) {
    background-image: url(/assets/hero-medium.png);
    height: 70vh;
  }

  // Large Devices
  @media (min-width: 1200px) {
    background-image: url(/assets/hero-large.png);
    height: 70vh;
  }
}

.resume {
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px;
  width: fit-content;

  &:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
  }
}

.name {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 2rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;

    background-color: #00000079;

    &:hover {
      background-color: #ffffffc7;
      transition: 0.3s;
    }
  }
}

.resume-container {
  margin-top: 2rem;
}
