<div class="main-container">
  <app-hero></app-hero>
  <!-- FIRST SECTION - EXPERIENCE (Education, Career, etc.) -->
  <div id="experience" class="holder">
    <h1>EXPERIENCE</h1>

    <!-- BA of COMPSCI -->
    <app-card
      title="BACHELOR OF COMPUTER SCIENCE"
      subtitle="Point Park University"
      description="Achieved a Bachelor's Degree of Computer Science at Point Park in June 2024."
      link1="https://www.pointpark.edu/academics/schools/business/undergraduateprogram/appliedcomputerscience"
      link1Text="View Site"
    ></app-card>

    <img src="assets/grad.jpg" class="photo" />

    <!-- MA of Advertising -->
    <app-card
      title="M.A. OF PR, ADVERTISING, AND SOCIAL MEDIA"
      subtitle="Point Park University"
      description="Continued education at Point Park University to achieve a Master's Degree. Expected graduation in May 2027."
      link1="https://www.pointpark.edu"
      link1Text="View Site"
    ></app-card>

    <!-- PENNSYLVANIA MACARONI - WEB DEVELOPER -->
    <app-card
      title="PENNSYLVANIA MACARONI COMPANY"
      subtitle="Lead Frontend Developer"
      description="At PennMac, I was in charge of optimizing, redesigning, developing, and maintaining the existing company website. I also helped to refresh the company image, using Angular to create a brand new user-friendly, modern site. In addition to creating the site, I took professional product photos of shop items and created graphics for the the company."
      link1="https://test.pennmac.com/"
      link1Text="View Site"
    ></app-card>

    <!-- FIRST NATIONAL BANK - APPLICATION DEVELOPER -->
    <app-card
      title="FIRST NATIONAL BANK"
      subtitle="Application Developer"
      description="For my four-month full-time Application Development Co-Op position at FNB, I helped create an internal loan-review application using ANGULAR, JAVA, and SQL. Daily meetings with the team to discuss progress allowed me to experience leading a project from start to finish."
      link1="https://www.fnb-online.com"
      link1Text="View Site"
    ></app-card>

    <!-- RED HOUSE COMMUNICATIONS - INTERNSHIP -->
    <app-card
      title="RED HOUSE COMMUNICATIONS"
      subtitle="Graphic Design Intern"
      description="At the Emmy Award-Winning advertising agency, I worked with both the creative and account teams to understand the process of executing a successful campaign. I created grahics, mockup sites, wireframes, and participated in weekly client meetings for the University of Maryland campaign."
      link1="https://www.redhousecommunications.com"
      link1Text="View Site"
    ></app-card>

    <!-- STAPLES - TECHNICAL SPECIALIST -->
    <app-card
      title="STAPLES"
      subtitle="Technical Specialist"
      description="At the electronics and office supply store Staples, I was responsible for the repair and maintenance of customers' computers, printers, and other devices. Besides PC tune-ups and virus removal, I also matched customers with the best products for their specific needs, provided demonstrations, and managed company metrics like rewards sign-ups, warranty goals, and sales."
      link1="https://www.staples.com"
      link1Text="View Site"
    ></app-card>
    <hr />
  </div>

  <!-- SECOND SECTION - PROJECTS -->
  <div class="holder" id="projects">
    <h1>PROJECTS</h1>

    <!-- New PennMac -->
    <app-card
      title="Pennsylvania Macaroni Company (New Anguar Site)"
      subtitle="Angular, SCSS"
      description="The ecommerce site that I created for Pennsylvania Macaroni Company. The site is built with Angular, SCSS, and Firebase (until the site is ready to launch). I designed each component from scratch to create a modern, user-friendly site that showcases the company's products and allows customers to easily navigate the site.
       This site is not in use yet because of the way the company's current site is set up (they did not use a SQL database to store their products, and instead opted for a proprietary method). Because of this, the company is sticking with the current site until they are ready to build a database and switch over to the Angular one. Until then, I'm very proud of this site and excited to demonstrate it!"
      link1="https://pennmac-szuch.web.app/"
      link1Text="View Site"
    ></app-card>

    <!-- PennMac -->
    <app-card
      title="Pennsylvania Macaroni Company (Current Optimized Site)"
      subtitle="HTML, CSS, JS, PERL"
      description="I optimized PennMac's existing ecommerce site- built with HTML, SCSS, and a PERL backend. I worked on improving user experience, responsiveness, SEO, accessibility, and performance. Nearly all components— including navigation, product pages, and checkout— were completely redesigned and redeveloped while maintaining the original text content. Beyond the redesign, I continue to provide ongoing updates, maintenance, product additions, photography, and custom graphics to keep the site fresh and functional."
      link1="https://www.pennmac.com"
      link1Text="View Site"
    ></app-card>

    <!-- Chedda LaFlare -->
    <app-card
      title="Chedda LaFlare"
      subtitle="Angular, SCSS"
      description="A site I created for the iconic Pittsburgh Rapper Chedda LaFlare. The site was built with Angular and SCSS. The site promotes his music, merchandise, updates, and give fans a one stop shop for all things Chedda."
      link1="https://cheddalaflare.com"
      link1Text="View Site"
    ></app-card>

    <hr />
  </div>

  <!-- THIRD SECTION - COMMUNITY -->
  <div class="holder" id="community">
    <h1>COMMUNITY</h1>

    <!-- Forward Majority - Organized daily practices and morning meetings, scouted locations, interacted with clients -->
    <app-card
      title="Forward Majority"
      subtitle="Team Lead"
      description="During the 2024 election season, I supervised a team of around 40 canvassers- organizing daily practices
      sessions, leading morning meetings, scouting loctions, creating graphics for the office, and assuring that each
      staff member adhere to the organization guidelines and Pennsylvania law. After practice and planning, I led a smaller
      team of 3-4 team members in the field, consisting of various malls and shopping centers in the Northwest Pennsylvania
      region. This campaign ran from May to October 2024."
    ></app-card>

    <img src="assets/voter.jpg" alt="" class="photo" />

    <!-- For Our Future -->
    <app-card
      title="For Our Future"
      subtitle="Voter Outreach"
      description="For
    the latter half of the 2022 Pennsylvania Senate Race, I worked on a
    door-to-door voter contact campaign for the grassroots organization For Our
    Future. Here, I assured that everyone in my community registered to vote, knew where their polling location is,
    and were excited about the election!"
      link1="#"
      link1Text="View Site"
    ></app-card>

    <!-- Planned Parenthood Votes -->
    <app-card
      title="Planned Parenthood Votes"
      subtitle="Voter Outreach"
      description="For the first half of my involvement in the 2022 Pennsylvania Senate election season, I went door-to-door in my community to inform voters about the upcoming election and the importance of various issues."
      link1="#"
      link1Text="View Site"
    ></app-card>

    <hr />
  </div>

  <!-- FOURTH SECTION - SKILLS -->
  <div class="holder" id="skills">
    <h1>SKILLS</h1>

    <!-- Development -->
    <app-card
      title="DEVELOPMENT"
      subtitle="My Development Process"
      description="For development, I most frequently use the MEAN stack, which includes MongoDB, Express, Angular, and Node.js. I often use the React framework as well.
    For the styling of my sites, I prefer to use SCSS and Material. For the backend, I use Java and SQL. I have experience with Python, C++, and Perl. For deployment,
    I use Firebase."
    ></app-card>

    <!-- Design -->
    <app-card
      title="DESIGN"
      subtitle="My Design Process"
      description="Designing a clean, modern, and user-friendly site design is my top priority when creating a new project.
    Because of this, I use Adobe Creative Suite for my work. I have experience with all of the programs in the suite, but I
     most frequently use Photoshop, Illustrator, Indesign and Express.
    "
    ></app-card>

    <!-- Leadership -->
    <app-card
      title="Leadership"
      subtitle="The Importance of Leadership"
      description="When leading a team, its important to keep everyone on the same page so that the project's development
      goes smoothly. As an experienced leader, I understand how vital it is to motivate and inspire individuals to be their best selves.
      My roles have allowed me to build a strong skillset in management, emotional intelligence, and communication. As a visionary mentor, I'm 
      a strong problem solver, decision maker, and teacher."
    ></app-card>

    <hr />
  </div>

  <!-- FIFTH SECTION - ABOUT -->
  <div class="holder" id="about">
    <app-card
      title="About Me"
      subtitle="Who I Am"
      description="Throughout my entire life, I have been completely immersed in the world of technology. A fascination of mine, I
    find excitement in creating sites, applications, and designs that are both appealing and functional. This passion has led me to
    find joy in helping others create their dream projects- especially when it comes to small businesses and local creatives! There's much more to me than just 
    technology, however. I am a highly dedicated, passionate, community leader who is always looking for ways to help others. As a natural
    extrovert, I love meeting new people and hearing their stories. Traveling, music, community events, and art are some of my favorite
    things to do in my free time with friends and family."
    >
    </app-card>

    <img src="assets/museum.jpg" class="photo" alt="" />
  </div>
</div>
<router-outlet />
